.metadata
.classpath
.project
.settings
*.class
*.swp
*~
target
infinitest.filters
trainspotter/tmp
trainspotter/eclipse
trainspotter/test-result
trainspotter/lib
trainspotter/precompiled
trainspotter/logs
trainspotter-prod*
setenv.sh
run.sh
