<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        <hr/>

		%{ user = controllers.security.Secure.Security.connected() }%
		#{if user}
		    Bonjour, ${user.name}
			<a href="/logout">Se déconnecter</a>
		#{/if}
		#{else}
			<a href="/login">Se connecter</a>
		#{/else}
    </body>
</html>
