#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Received train number ${results.trainNumber ?: 'unknown'}</h1>
<h2>Departure date is ${results.departureDate ?: 'unknown'}</h1>

<table>
	<thead>
		<td>Gare</td>
		<td>Heure init. prévue</td>
		<td>Détails</td>
	</thead>
	#{list items:results.stationDetails, as:'details'}
		<tr>
			<td>${details.trainStation}</td>
			<td>${details.time}</td>
			<td>${details.informations}</td>
		</tr>
	#{/list}
</table>

<hr/>
<a href="@{Application.index()}">Back to form</a>