#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Que fait le train ${results.trainNumber}?</h1>

<h2>La date de départ initiale est: ${results.theoreticalDepartureDay}</h1>

<a href="@{TrainSpotter.trackTrain()}?trainNumber=${results.trainNumber}">Suivre les retards de ce train</a>

<table>
	<thead>
		<td>Gare</td>
		<td>Heure init. prévue</td>
		<td>Détails</td>
	</thead>
	#{list items:results.trainStationStatus, as:'details'}
		<tr>
			<td>${details.trainStation}</td>
			<td>${details.time}</td>
			<td>${details.informations}</td>
		</tr>
	#{/list}
</table>

<a href="@{TrainSpotter.trackTrain()}?trainNumber=${results.trainNumber}">Suivre les retards de ce train</a>
